.feedback__buttons-container {
  width: 350px;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.feedback__btn {
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: 16px;
}

.feedback__btn:active {
  background-color: #ececec;
}

.feedback__btn:hover {
  transform: translateY(-5px);
  transition: 0.3s all;
}

.feedback__btn--good {
  composes: feedback__btn;
  background-color: rgb(80, 224, 80);
}

.feedback__btn--neutral {
  composes: feedback__btn;
  background-color: rgb(109, 206, 209);
}

.feedback__btn--bad {
  composes: feedback__btn;
  background-color: #d86969;
}
