.buttonsContainer {
  width: 350px;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: 16px;
}

.button:active {
  background-color: #ececec;
}

.button:hover {
  transform: translateY(-5px);
  transition: 0.3s all;
}

.button_good {
  composes: button;
  background-color: rgb(80, 224, 80);
}

.button_neutral {
  composes: button;
  background-color: rgb(109, 206, 209);
}

.button_bad {
  composes: button;
  background-color: #d86969;
}
